# Realizando conexion de prueba

Se procede a instalar la libreria de R para JDBC

In [1]:
install.packages("RJDBC")

Installing package into ‘/gpfs/global_fs01/sym_shared/YPProdSpark/user/s82c-62d2a49ebf57a7-7cb3c732c210/R/libs’
(as ‘lib’ is unspecified)

Se importa la libreria RJDBC

In [2]:
library("RJDBC")

Loading required package: DBI
Loading required package: rJava

Incializa el Java VM

In [3]:
.jinit()

Especificar la ruta del controlador.
"~/data/libs/sqljdbc42.jar"

In [20]:
drv <- JDBC("com.microsoft.sqlserver.jdbc.SQLServerDriver","~/data/libs/sqljdbc42.jar")

In [21]:
conn <- dbConnect(drv, "jdbc:sqlserver://169.45.195.170", "prueba", "prueba")

In [22]:
 conn <- dbConnect(drv, "jdbc:sqlserver://169.45.195.170:1433;DATABASE=DW", "prueba", "prueba")

In [23]:
sqlText <- paste(" SELECT * FROM prueba", sep="")

In [24]:
queryResults <- dbGetQuery(conn, sqlText)

In [26]:
queryResults

   Periodo Gerencia        Gerente          Cadena Trx   Clientes VtaNS
1  201611  NON FOOD        CAMILA CARRILLO  WONG   10518  5990     265076.8456
2  201611  NON FOOD        CAMILA CARRILLO  WONG   18580 12841     603442.5952
3  201611  NON FOOD        CAMILA CARRILLO  WONG    3763  3184     130204.0620
4  201611  FOOD ABARROTES  ROSA MARIA GODOY WONG      87    19      89940.5541
5  201611  FOOD ABARROTES  ROSA MARIA GODOY WONG     165    37      50967.4460
6  201611  FOOD ABARROTES  ROSA MARIA GODOY WONG      73     2        615.8902
7  201611  FOOD ABARROTES  ROSA MARIA GODOY WONG    2421   177      31444.2415
8  201611  FOOD ABARROTES  ROSA MARIA GODOY WONG   44360  6764    1752784.0640
9  201611  FOOD ABARROTES  ROSA MARIA GODOY WONG   38159  8698    1587366.5070
10 201611  FOOD PERECIBLES IGNACIO ELIAS    WONG      26     8        480.0447
   VtaBS      Margen      Segmento
1   312133.01 113920.8239 5,2
2   712240.90 263794.7731 6,2
3   153762.64  58299.6073 7,2
4   104742.03    351.3565 1,4
5    59821.81  -1060.6426 3,4
6      639.09    124.6523 4,4
7    35476.70   5823.3610 5,4
8  2058036.73 328008.8984 6,4
9  1873785.24 321828.4065 7,4
10     553.54    109.3813 1,4